# Ignore all raw data (don't upload) - apart from lab test
data/raw/manicore*
data/raw/silwood*
data/raw/old*
# Ignore all processed data files ending with...
**.mp3
**.json
**.cfg
# But, do upload results files (after processing in ODAS & BirdNET)
!**/results.json
# And processed files (after analysing results files)
!**/processed.json